[submodule "vendor/plugins/meteor"]
	path = vendor/plugins/meteor
	url = git@github.com:bretweinraub/meteor.git
[submodule "vendor/plugins/dhtml_menu"]
	path = vendor/plugins/dhtml_menu
	url = git://github.com/bretweinraub/dhtml_menu.git
[submodule "vendor/plugins/remote_content"]
	path = vendor/plugins/remote_content
	url = git://github.com/asapnet/remote_content.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = http://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/paperclip_with_hobo"]
	path = vendor/plugins/paperclip_with_hobo
	url = http://github.com/tablatom/paperclip_with_hobo.git
